﻿@*@using PaperCut.Helper
    @using PaperCut.Models*@
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <form class="stretch-card d-inline-block" id="upload_form" enctype="multipart/form-data">
        <div>
            @Html.Partial("Patials/_UploadFile")
            <div class="error-message" id="errorMsg"></div>
            <button type="button" class="btn btn-caculate" onclick="UploadFile()">Calculate</button>
        </div>
        
        <div id="calculate-result-content"></div>
    </form>
</div>

@section scripts {
    <script src="~/Content/app/app-js.js"></script>
}