﻿html {
    background-color: #fff !important;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: sans-serif;
    background-color: #fff !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
} 


/*custom*/
/*common*/
.mt-5 {
    margin-top: 50px !important;
}
.d-none {
    display: none !important;
}
/*end-common*/
.nav-home {
    border-bottom: 1px solid #dff0d8;
}

/*upload file style*/
.file-upload {
    background-color: #ffffff;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

    .file-upload-btn:hover {
        background: #1AA059;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .file-upload-btn:active {
        border: 0;
        transition: all .2s ease;
    }

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    max-width: none !important;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    height: 150px;
    margin-top: 20px;
    border: 4px dashed #1FB264;
    position: relative;
}

    .image-dropping,
    .image-upload-wrap:hover {
        background-color: #1FB264;
        border: 4px dashed #ffffff;
    }

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

    .drag-text h3 {
        font-weight: 100;
        text-transform: uppercase;
        color: #15824B;
        padding: 25px 0;
    }

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

    .remove-image:hover {
        background: #c13b2a;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }

    .remove-image:active {
        border: 0;
        transition: all .2s ease;
    }

/*footer*/
.footer-wrapper {
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #dff0d8;
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
}

.btn-caculate {
    background-color: #1AA059;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    height: 40px;
}

.btn-caculate:hover {
    color: #fff;
}

.body-content {
    margin-top: 30px;
}

.error-message {
    font-size: 16px;
    font-weight: bold;
    color: red;
    margin: 15px 0;
}

/*table style*/


.total-cost {
    font-size: 16px;
    text-align: right;
    color: #333;
}

.total-cost b {
    font-size: 20px;
}

.table-import {
    margin-top: 20px;
    height: calc(100vh - 575px);
    overflow-y: auto;
}

.table-import .table {
    border-collapse: separate;
    border-spacing: 0 7px;
    border: 0px;
}

.table-import .table thead tr {
    background-color: #f3f3f3;
}

.table-import .table thead tr th{
    text-align: center;
}

.table-import tbody tr td {
    border: 0px;
    font-weight: 500;
}

.table-import tbody tr td:first-child {
    border-left: 4px solid #24ad5d;
}

.table-import tbody tr {
    background-color: #c3f3d7;
    color: #24ad5d;
}

.table-import .row-error {
    background-color: #ffe0e3;
    color: #ff4959;
}

.table-import .row-error td:first-child {
    border-left: 4px solid #ff4959;
}

.total-cost.row-error {
    color: #ff4959;
}
/**/
#success {
    background: #03a679;
    color: #f0f0f0;
}

#failure {
    background: #ff3939;
    color: #f0f0f0;
}

.notify {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 0;
    box-sizing: border-box;
    color: white;
    text-align: center;
    background: rgba(0,0,0,.6);
    overflow: hidden;
    box-sizing: border-box;
    transition: height .2s;
}

#notifyType:before {
    display: block;
    margin-top: 15px;
}

.active {
    height: 50px;
}

.success:before {
    Content: "Aww Yeaaaaa! Success!";
}

.failure:before {
    Content: "Oh no! Something didn't go as planned :(";
}

