﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/app/app-style.css" />
    <script src="~/Content/app/app-js.js"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top nav-home">
        <!--<div class="container">-->
        <!-- Just an image -->
        <!--<nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="https://tacotechnologies.com/wp-content/uploads/2018/10/TACOSMALL.png" />
            </a>
        </nav>
        </div>-->
        <h1 class="text-center">Welcome to PaperCut</h1>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; @DateTime.Now.Year - PaperCut - Code Challenge</p>
                </div>
                <div class="col-md-6 text-right">
                    <p>Developed by Dominic Dinh</p>
                </div>
            </div>
        </div>
    </footer>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
