﻿@using Newtonsoft.Json
@using papercut_print.Common
@using papercut_print.Models.Responses
@model papercut_print.Models.Responses.PrintContentResponse
@{
    var printContent = Model.PrintContents;
    var hasError = Model.PrintContents.Any(x=>x.Validation.Count > 0) ? "row-error" : string.Empty ;
}
<hr />
<div class="table-import">
    @{
        if (printContent.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>Total pages</th>
                        <th>Color pages</th>
                        <th>Double Sided</th>
                        <th>Cost</th>
                        <th>Remark</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in printContent)
                    {
                        var style = !item.Validation.Any() ? string.Empty : "row-error";
                        <tr class="@style">
                            <td>@item.TotalPageStr</td>
                            <td>@item.ColorPageStr</td>
                            <td>@item.IsDoubleSidedStrChange</td>
                            @{ var cost = !item.Validation.Any() ? item.TotalCostStr : string.Empty;}
                            <td>@cost</td>
                            <td>@item.Validation.FirstOrDefault()</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>
<div class="total-cost @hasError">
    Total cost: <b>@Model.TotalCostStr </b>
</div>