﻿<div class="file-upload">
    <div class="image-upload-wrap">
        <input class="file-upload-input" name="filePath" type='file' onchange="readURL(this);" accept="text/plain, .csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
        <div class="drag-text">
            <h3>Drag and drop a file or select to calculate cost</h3>
        </div>
    </div>
    <div class="file-upload-content">
        <p>Your csv file here</p>
        <div class="image-title-wrap">
            <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
        </div>
    </div>
</div>